body {
    background: #FFF;
    font-family: Mulish;
    max-width: 1440px;
    margin: 0 auto;
}

.header-section {
    max-width: 1170px;
    /* height: 6940px; */
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    /*vertical center*/
    justify-content: space-between;
    /* border: 1px blue solid; */
}

.nav-container {
    display: flex;
    align-items: center;
    /* border: 1px green solid; */
}

.website-logo {
    width: 56px;
    height: 48px;
}

.website-name {
    margin-left: 17px;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.item-container {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-container>li {
    margin-left: 20px;
}

.item-special {
    color: #FF5400;
}

/* banner section */
.banner-section {
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content-container {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title {
    width: 600px;
    height: 80px;
}

.banner-content-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.description {
    width: 670px;
    height: 52px;
}

.banner-content-search-destination {
    width: 800px;
    /* height: 84px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    gap: 24px;
}

.input-item {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding: 0 10px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.common-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    ;

}

/* popular tour plans section */
.popular-tours {
    margin: 100px auto;
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.popular-tours-content {
    /* border: 1px solid red; */
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 577px;
    margin: 0;
    padding: 0;
}

.popular-tours-content-head {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tour-btn {
    width: 174px;
    height: 52px;
    border: 0;
}

/* Chose your destination */
.destination-choice {
    margin: 100px auto;
    width: 1170px;
}

.destination-choice-content {
    margin: 20px auto;
    /* border: 1px solid red; */
    width: 643px;
}

.destination-choice-content-head {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-choice-content-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.destination-choice-images {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    border-radius: 16px;
}

.destination-choice-image-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-choice-image-Maldives {
    width: 573px;
    height: 300px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 5.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-Indonesia {
    width: 573px;
    height: 300px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 8.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-Srilanka {
    width: 374px;
    height: 286px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 6.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-NorthAmerica {
    width: 474px;
    height: 286px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 7.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-Kasmir {
    width: 274px;
    height: 286px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 9.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-Bangladesh {
    width: 473px;
    height: 300px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 11.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-choice-image-Bandarban {
    width: 673px;
    height: 300px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url("../Images/Rectangle\ 10.png"), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer content */
.footer-container{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0px 110px 0px;
}
.footer-content-nameAndlogo{
    display: flex;
    padding: 0px;
    margin-top: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-content-aboutUs-details{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;   
}
.footer-content-social-media-link{
    width: 174.322px;
    height: 24px;
    margin-top: 32px;
    margin-bottom: 50px;
}
.footer-content-horizontal-line{
    width: 872px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 50px;
}
.footer-content-copyright{
 
}